:host ::ng-deep .nav-link .bs-remove-tab {
  position: relative;
  font-size: 0em;
}

:host ::ng-deep .nav-link .bs-remove-tab::after {
  content: "\f00d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 1rem;
  left: 0.5rem;
  position: relative;
}