<div class="row mb-5">
  <div class="col">
    <h1>
      {{title}}
    </h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>
      <strong>フライドポテト</strong>は、ジャガイモを食べやすい大きさに切って、油で揚げた料理である。
      日本ではポテトフライと呼ぶこともある。
    </p>
  </div>
</div>

<div class="row">
  <div class="col-4">
    ベルギーはフリッツ（フライドポテト）発祥の地を称しており、
    ブルッヘ（ブルージュ）にはフリッツ博物館がある。
    17世紀、ナミュールで魚に不漁に困った住民がジャガイモを揚げて食べたことが起源と同国では伝えられている。
  </div>
  <div class="col-4">
    家庭用のフライドポテト用の油や、ポテトと油を入れて手軽に揚げることができる調理器具なども比較的普及している。
    ベルギーの一般家庭は電気フライヤーを高い割合で常備している。
  </div>
  <div class="col-4">
    オランダでは基本的にポテトは夜食や昼食といった日常生活で食べられている。実際にポテトは店で買うのだが、日本のように、油をフライパンに入れて汚すことがなく、ポテトを揚げるフライヤーがある。
  </div>
</div>

<div class="row my-3">
  <div class="col-6">
    <button type="button" class="btn btn-outline-secondary btn-block" (click)="gotoPage1()">
      Page 1 へ
    </button>
  </div>

  <div class="col-6">
    <button type="button" class="btn btn-outline-secondary btn-block" (click)="gotoPage2()">
      Page 2 へ
    </button>
  </div>