<div class="row mb-5">
  <div class="col">
    <h1>
      {{title}}
    </h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>
      <strong>京都大学（きょうとだいがく、英語: Kyoto University）</strong>は、
      京都府京都市左京区吉田本町36番地1に本部を置く日本の国立大学である。
      1897年に設置された。大学の略称は京大（きょうだい）。
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <p>
      京都市内の繁華街から離れた古都の風情を残す落ち着いた環境の中にあり、何事も学生の自主性に任せるという「自由の学風」を標榜している。
      リベラル派な大学の傾向にある。
      毎年行われる11月祭や折田先生像を巡る落書き、
      卒業式での仮装などにもその一端を垣間見ることができる。
    </p>
  </div>
  <div class="col-6">
    <p>
      京都大学の起源は文久元年8月16日（1861年9月20日）に長崎に設立された長崎養生所（その後、長崎精得館へ改称）まで遡る。
      長崎精得館の理化学部門は、当初は江戸にあった開成所（現在の東京大学）へ「理化学校」として移設することになっていたが、明治維新の混乱で実現しなかった。
    </p>
  </div>
</div>

<div class="row my-3">
  <div class="col-6">
    <button type="button" class="btn btn-outline-secondary btn-block" (click)="gotoPage1()">
      Page 1 へ
    </button>
  </div>

  <div class="col-6">
    <button type="button" class="btn btn-outline-secondary btn-block" (click)="gotoPage3()">
      Page 3 へ
    </button>
  </div>