<div class="row mb-5">
  <div class="col">
    <h1>
      {{title}}
    </h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>
      <strong>福井県（ふくいけん）</strong>は、日本海や若狭湾に面する日本の行政区画及び地方公共団体。県庁所在地及び最大の都市は福井市である。
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <p>
      山中峠・木ノ芽峠・栃ノ木峠を通る稜線を境にして、北側の嶺北（越前地方）と、南側の嶺南（若狭地方および敦賀市）より構成される。また日本海及び若狭湾の福井県海域には周囲0.1km以上の島が58あるが全て無人島で、常神半島沖の岩礁である千島で約3kmの距離しか離れていない。
    </p>
  </div>
  <div class="col-6">
    <p>
      越前の緑豊かな山々と、若狭の清らかな水の流れに代表されるように自然が美しい場所であり、それを代表する語に越山若水（えつざんじゃくすい）がある。
    </p>
    <p>
      地理上は北陸地方または中部地方と分類されるが、行政管轄区分において近畿地方とされる場合もある。
    </p>
  </div>
</div>

<div class="row my-3">
  <div class="col-6">
    <button type="button" class="btn btn-outline-secondary btn-block" (click)="gotoPage2()">
      Page 2 へ
    </button>
  </div>

  <div class="col-6">
    <button type="button" class="btn btn-outline-secondary btn-block" (click)="gotoPage3()">
      Page 3 へ
    </button>
  </div>
</div>